body {
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}

.container {
    background-color: aqua;
    padding: 50px;
    margin: 30px;
    width: 190px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

.txt-preto {
    margin: 0;
    padding: 0;
    display: inline;
    background-color: brown;
}

.txt-laranja {
    margin: 0;
    padding: 0;
    display: inline;
    color: orange;
    background-color: rgb(19, 57, 87);
}

.titulo.sub{
    color: white;
    background-color: rgb(87, 87, 21);
}

.menu-nome-preco {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 255, 0.362);
}

.menu-item{
    background-color: violet;
}

/* .menu-list{
    float: left;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
} */

/*Estilo Brunch*/
.brunch h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #FED7AA;
    padding: 5px;
    
}

/*Estilo Bebidas*/
.bebidas h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #FED7AA;
}

ul {
    padding: 0;
    margin: 0;
}